#light {
  background-color: #fff;
  color: #333;
}

#dark {
  background-color: #333;
  color: #fff;
}

#dark .google-btn {
  color: #fff;
  border: 1px solid #fff;
}

#dark .appointmentName{
  color: #333;
}

#dark input {
  color: #333;
}

#dark button{
  color: #fff;
}

#dark select{
  color: #333;
}

#dark span {
  color: #fff;
}
 
#dark .create-btn{
  color: #fff;
}

@media screen and (max-width: 991px) {
  #dark .dropmenu{
    background-color: black;
  }
  #light .logout-btn{
    background-color: #fff;
    color: #333;
  }
}